:root {
  --dracula-dark-black: #282a36;
  --dracula-black: #44475a;
  --dracula-white: #f8f8f2;
  --dracula-dark-blue: #6272a4;
  --dracula-light-blue: #8be9fd;
  --dracula-light-blue-rgb-nums: 139, 233, 253;
  --dracula-green: #50fa7b;
  --dracula-orange: #ffb86c;
  --dracula-pink: #ff79c6;
  --dracula-red: #ff5555;
  --dracula-yellow: #f1fa8c;
  --dracula-purple: #bd93f9;
  --violet: violet;
  --spring-green: #00ff7f;

  --width-lg: 700px;
  --width-sm: 350px;
  --square-lg: 100px;
  --square-sm: 50px;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.no-display2 {
  /* transition: width 2s; */
  /* transition-timing-function: ease-in-out; */
  display: none;
}
#spinner-group {
  margin-bottom: 2em;
  margin-top: 2em;
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: 0.75s linear infinite spinner-grow;
  animation: 0.75s linear infinite spinner-grow;
}

.display-none {
  display: none;
}

.dracula-white {
  color: var(--dracula-white);
}
.dracula-pink {
  color: var(--dracula-pink);
}
.dracula-orange {
  color: var(--dracula-orange);
}
.dracula-green {
  color: var(--dracula-green);
}
.dracula-red {
  color: var(--dracula-red);
}
.dracula-purple {
  color: var(--dracula-purple);
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

input {
  transition: width 0.5s, opacity 1.25s;
  width: 175px;
  opacity: 1;
  line-height: 1.5;
}
input.no-display {
  transition: width 0.5s, opacity 1s;
  /* transition-timing-function: ease-in-out; */
  width: 0px;
  opacity: 0;
}

body {
  padding: 2.5em;
  background-color: var(--dracula-dark-black) !important;
}

.markdown-body table td {
  padding: 6px 6px !important;
}

#title-search {
  color: var(--dracula-white);
}
/* #title-search.gist {
  color: var(--dracula-light-blue);
} */

#list-length {
  padding-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 0;
}

.gist-search {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  border: solid 0.5px var(--dracula-white);
  line-height: inherit;
  line-height: 1.5;
}

.btn-size {
  font-size: 1.5rem;
  color: var(--dracula-white);
  padding: 10px;
  width: 60px;
  border: solid 0.5px var(--dracula-white);
}
/* #btn-search {
  width: 60px;
  padding: 5px;
  border: solid 0.5px var(--dracula-white);
} */

#btn-gist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#btn-github.on {
  background-color: var(--dracula-purple);
  color: var(--dracula-dark-black);
}

#btn-gist.on {
  background-color: var(--dracula-purple);
  color: var(--dracula-dark-black);
}
#btn-search.on {
  background-color: var(--dracula-yellow);
  color: var(--dracula-dark-black);
}
#btn-db.on {
  background-color: var(--dracula-yellow);
  color: var(--dracula-dark-black);
}

.markdown-body {
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
}

.github-limits {
  margin-top: 1em;
  margin-bottom: 2em;
}

.tbl-search ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}

.tbl-search th {
  cursor: pointer;
  position: relative;
}

.tbl-search .sorted-desc:after {
  position: absolute;
  right: 0.5em;
  content: "\25BC";
  font-size: 0.8em;
}

.tbl-search .sorted-asc:after {
  position: absolute;
  right: 0.5em;
  content: "\25B2";
  font-size: 0.8em;
}

.github-logo {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}

td,
th {
  /* min-width: 75px; */
  min-width: 100px;
  font-size: 0.9em;
  word-break: break-word;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
  #list-length {
    padding-left: 10px;
  }
}

@media (max-width: 467px) {
  .markdown-body {
    padding: 10px;
  }

  td,
  th {
    min-width: 70px;
    font-size: 0.8em;
  }

  #btn-search {
    margin-right: 0;
  }

  .btn-size {
    font-size: 1rem;
    width: 40px;
  }

  /* #list-length {
    padding-left: 0;
  } */
}
